.logoIcon{
  height: 60px;
  width: 60px;
}


.logoText{
  flex-direction: column;
  margin: 10px;
}


.containterBox{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding:10px
}


.displayFlex{
  display: flex;
}
  
.tableTile{
  color: grey;
    font-size: 14px;
}

  .ViswasTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 40px !important;
  }
  

  .ViswasTable td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }


  .ViswasTable th{
    padding: 8px;
  }
 

  .ViswasTableRow:hover {
    background-color: #ddd;
  }
  

  .ViswasTable th {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .addNewButton{
    float: right;
    border-radius: 6px !important;
  }

  .badgePageIcon{
    height: 37px;
    width: 37px;
  }

  .badgePageEditIcon{
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }

  .cameraBtn{
    width: 150px;
    margin-top: 5px !important;
    font-size: 14px;
  }
  
  .outerDivToggleRadioGroup{
    display: flex;
    align-items: center;
    margin-top: 15px;
  }


    .react-toggle {
      touch-action: pan-x;
      display: inline-block;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      padding: 0;
    
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
    }
    
    .react-toggle-screenreader-only {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      // margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .react-toggle--disabled {
      cursor: not-allowed;
      opacity: 0.5;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
    }
    
    .react-toggle-track {
      width: 35px;
      height: 17px;
      padding: 0;
      border-radius: 30px;
      background-color: #4D4D4D;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    
    .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: #4D4D4D;
    }
    
    .react-toggle--checked .react-toggle-track {
      background-color: #0099E0;
    }
    
    .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: #0099E0;
    }
    
    .react-toggle-track-check {
      position: absolute;
      width: 14px;
      height: 10px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 0;
      left: 8px;
      opacity: 0;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }
    
    .react-toggle--checked .react-toggle-track-check {
      opacity: 1;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }
    
    .react-toggle-track-x {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 0;
      right: 10px;
      opacity: 1;
      -webkit-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
    }
    
    .react-toggle--checked .react-toggle-track-x {
      opacity: 0;
    }
    
    .react-toggle-thumb {
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 15px;
      border: 1px solid #4D4D4D;
      border-radius: 50%;
      background-color: #FAFAFA;
    
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
    
    .react-toggle--checked .react-toggle-thumb {
      left: 18px;
      border-color: #0099E0;
    }
    
    .react-toggle--focus .react-toggle-thumb {
      -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
      -moz-box-shadow: 0px 0px 3px 2px #0099E0;
      box-shadow: 0px 0px 2px 3px #0099E0;
    }
    
    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
      -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
      -moz-box-shadow: 0px 0px 5px 5px #0099E0;
      box-shadow: 0px 0px 5px 5px #0099E0;
    }


    /////////////////////////////////////////////// 
    .react-tabs__tab--selected{
      background: transparent !important;
      color: black;
      border-radius: 0;
      border: none !important;
      border-bottom: 3px solid #6264A7 !important;
    }
    .react-tabs__tab-list {
      border-bottom: 1px solid #ececec !important;
    }
    .batch-statistics{
      height: 40px !important;
      position: absolute;
      top: -20px;
    }
    .card{
      margin-bottom: 1.5rem !important;
      background-color: #ffffff !important;
      box-shadow: rgb(187, 182, 182) 0px 10px 13px !important;
      transition: all .5s;
    }
    .card:hover{
      border: 1px solid #F17E21 !important;
      transform: translate(0px, -5px);
    }
    .card:hover h1{
      color: #F17E21 !important;
    }
    .card.active{
      border: 1px solid #F17E21 !important;
    }
    .card.active h1{
      color: #F17E21 !important;
    }
    .mt-1{
      margin-top: 1rem;
    }
    .pt-1{
      padding-top: 1rem;
    }
    .pt-2{
      padding-top: 2rem;
    }
    .pb-2{
      padding-bottom: 2rem;
    }
    .warning{
      color: #F17E21 !important;
    }
    .color-gold{
      color: #F17E21 !important;
    }
    .color-platinum{
      color: #456F90 !important;
    }
    .color-silver{
      color: #456F90 !important;
    }
    .color-bronze{
      color: #887488 !important;
    }
    .color-welldone{
      color: #47BA4C !important;  
    }
    .color-thankyou{
      color: #7212AA !important;
    }
    .pointer{
      cursor: pointer;
    }
    .flex-wrap{
      flex-wrap: wrap;
    }
    button.curve-btn{
      position: absolute;
        right: -1px;
        bottom: -1px;
        border-radius: 32px 0px 7px 0px;
        width: 41px;
        padding: 0;
        min-width: initial;
        background: #2F80ED;
        border: none;
        color: #fff;
        height: 40px;
    }
    .ui-card:hover button.curve-btn{
      background: #F17E21;
      color: #fff;
    }
    //////////////////////////////////
    .statisticsSerchDiv{
      display: flex;
      align-items: flex-end;
    }

    .statisticsSerchDivButton{
    //   right: 0;
    // position: absolute;
    // margin-right: 30px;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;

    }

    .statisticsSerchDivInput{
      display: flex;

      input .ui-box{
        width: 250px !important;
      }
    }

    .noDataText{
      font-family: cursive;
      margin-top: 70px;
      display: flex;
      justify-content: center;
      font-size: 18px;
      color: blue;
    }